
.vs/*

obj/*

packages/*
bin/Debug/cs-CZ/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/es/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/fr/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/it/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/ro/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/sv/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/hu/Xceed.Wpf.AvalonDock.resources.dll
bin/Debug/de/Xceed.Wpf.AvalonDock.resources.dll
